try-servicestack/User.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="User"
    targetNamespace="http://tempuri.org/User.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/User.xsd"
    xmlns:mstns="http://tempuri.org/User.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="User">
    <xs:complexType>
      <xs:attribute type="xs:string" name="FirstName" use="required" />
      <xs:attribute type="xs:string" name="MiddleName" use="optional" />
      <xs:attribute type="xs:string" name="LastName" use="required" />
      <xs:attribute type="xs:string" name="Email" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
